.Rproj.user
.Rhistory
.RData
.Ruserdata
missing_data.Rproj
slides.html
slides_files/
slides_cache/
_publish.yml
workshop/fits/*.rds
*.html
*_files/
fits/
flyer*
qr.png
slides/images/Andrew_Ghazi_003_sq_sm2.JPG
workshop/data/imp_precompute.RData
